.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;

}
.feedback-form{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
transition: all 0.5s;
  padding: 1rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.4rem;
  border-radius: 0.5rem;
}

.feedback-form:hover{
  filter: drop-shadow(0 0 1rem black);
  margin-top: 0.4rem;
}

.home h1{
  color: white;
  background-color: navy;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
}

.form-box{
  display: flex;
  border-radius: 0.2rem;

  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  text-align: center;
  flex-direction: column;
}

.form-box input{
  width: 14rem;
  border-radius: 0.2rem;
  height: 2rem;
  border: none;
  
}
.form-box textarea{
  width: 14rem;
  height: 10rem;
  border-radius: 0.2rem;
  border: none;
}

.form-box{
  color: white;
  background-color: navy;
}
.form-box label{
  font-size: 1.3rem;
  padding: 0.3rem
}

.form-box-button button{
  border: none;
  margin-top: 0.4rem;
  background-color: navy;
  color: white;
  padding: 0.6rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.form-box-button button:hover{
  filter: drop-shadow(0 0 0.2rem black);
  padding: 0.8rem 2.2rem;
}